@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider
<nav class="flex-column" id="sidebar">
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <i class="fa-solid fa-house fs-6 me-3"></i> Trang chủ
        </NavLink>
    </div>
    @if (IsInRole("administrator system"))
    {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="permission">
                    <i class="fa-solid fa-shield-halved fs-6 me-3"></i> Quyền truy cập
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="user-list">
                    <i class="fa-regular fa-address-card fs-6 me-3"></i> Người dùng
                </NavLink>
            </div>

    }   @if (IsInRole("admin") || IsInRole("administrator system"))
    {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="branch-list">
                    <i class="fa-regular fa-building fs-6 me-3"></i> Chi nhánh
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="hall-list">
                    <i class="fa-solid fa-building-columns fs-6 me-3"></i> Sảnh cưới
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="menu-list">
                    <i class="fa-solid fa-utensils fs-6 me-3"></i> Thực đơn
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="service-list">
                    <i class="fa-solid fa-martini-glass-citrus fs-6 me-3"></i> Dịch vụ
                </NavLink>
            </div>
    }
    @if (IsInRole("admin") || IsInRole("administrator system") || IsInRole("employee"))
    {
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="task">
            <i class="fa-regular fa-clipboard fs-6 me-3"></i> Công việc
        </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="team-calendar">
                <i class="fa-regular fa-calendar fs-6 me-3"></i> Lịch làm việc
            </NavLink>
        </div>
    
       
    }
    @if (IsInRole("admin") || IsInRole("administrator system"))
    {
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="statistic">
                <i class="fa-solid fa-chart-simple fs-6 me-3"></i> Thống kê
            </NavLink>
        </div>
    }
    @if (IsInRole("admin") || IsInRole("administrator system") || IsInRole("employee"))
    {
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="invoice">
                <i class="fa-solid fa-file-invoice-dollar fs-6 me-3"></i> Hóa đơn
            </NavLink>
        </div>
    }
    @if (IsInRole("admin") || IsInRole("administrator system") )
    {
       
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="feedback-list">
            <i class="fa-regular fa-comments fs-6 me-3"></i><span style="margin-left:-5px"> Phản hồi</span>
        </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="promotion-list">
                <i class="fa-solid fa-note-sticky fs-6 me-3"></i> Mã giảm giá
            </NavLink>
        </div>
        @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="Admin/MenuItemComboMenu">
                <i class="icofont-oscommerce fs-6 me-3"></i> Gói giảm giá
            </NavLink>
        </div> *@
    
    }
</nav>

@code {
    private bool IsInRole(string role)
    {
        var authState = AuthStateProvider.GetAuthenticationStateAsync().Result;
        var user = authState.User;
        return user.IsInRole(role);
    }
}