################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodeFirst/.vs/CodeFirst/FileContentIndex
/CodeFirst/.vs/ProjectEvaluation/codefirst.metadata.v7.bin
/CodeFirst/.vs/ProjectEvaluation/codefirst.projects.v7.bin
/CodeFirst/.vs/ProjectEvaluation
/CodeFirst/CodeFirst/token.json
/CodeFirst/CodeFirst/bin/Release/net6.0/Cre
