################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodeFirst/.vs/CodeFirst/FileContentIndex/a9a8d769-d3ac-4e8b-949b-8019a60958d8.vsidx
