@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<User>
<div class="text-center">
    <div class="untree_co-section product-section before-footer-section">
        <div class="container">
            <div class="row">
                @foreach (var item in Model)
                {
                    <!-- Start Column 1 -->
                    <div class="col-12 col-md-4 col-lg-3 mb-5">
                        <a class="product-item" href="#">
                            <img src="@item.Avatar" class="img-fluid product-thumbnail" height="100">
                            <h3 class="product-title">@item.Name</h3>
                            <strong class="product-price">Role: @item.Role</strong>
                            <br/>
                            <strong class="product-price">Password: @item.Password</strong>

                            <span class="icon-cross">
                                <img src="images/cross.svg" class="img-fluid">
                            </span>
                        </a>
                    </div>
                    <!-- End Column 1 -->
                }
            </div>
        </div>
    </div>
</div>
