@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@{
    bool userRole = User.IsInRole("user");
    var isAuthenticated = User.Identity.IsAuthenticated;
    var username = isAuthenticated ? (await UserManager.GetUserAsync(User))?.UserName : "admin";
    var avatarUrl = isAuthenticated ? (await UserManager.GetUserAsync(User))?.Avatar : "https://i.pinimg.com/236x/e1/6c/70/e16c704fc0b655e553dd7a1a8a00475d.jpg";
}
<!-- sidebar -->
<div class="sidebar px-4 py-4 py-md-5 me-0">
    <div class="d-flex flex-column h-100">
        <a asp-controller="Account" asp-action="Manage" asp-area="Identity" class="mb-0 brand-icon" style="display: inline-block; text-align: center;">
            <div style="display: flex; flex-direction: column; align-items: center;">
                <img style="border: 2px solid #000; width: 50%; border-radius: 50%;" src="@avatarUrl" alt="User Avatar" />
                <span style="padding:0px; margin-top:5px;font-size:15px" class="logo-text">@username</span>
            </div>
        </a>
        <!-- Menu: main ul -->

        <ul class="menu-list flex-grow-1 mt-3">
            <li><a class="m-link" asp-controller="Account" asp-action="Manage" asp-area="Identity"><i class="icofont-user"></i> <span>Thông tin của tôi</span></a></li>

            @if (User.Identity.IsAuthenticated && !userRole)
            {
                <li><a class="m-link" asp-area="Admin" asp-action="Index" asp-controller="Branch"><i class="icofont-building-alt"></i> <span>Chi nhánh</span></a></li>
                <li><a class="m-link" asp-area="Admin" asp-action="Index" asp-controller="Hall"><i class="icofont-institution"></i> <span>Sảnh cưới</span></a></li>


                <li class="collapsed">
                    <a class="m-link" data-bs-toggle="collapse" data-bs-target="#service-Components" href="#">
                        <i class="icofont-pestle"></i><span>Dịch vụ</span> <span class="arrow icofont-dotted-down ms-auto text-end fs-5"></span>
                    </a>
                    <!-- Menu: Sub menu ul -->
                    <ul class="sub-menu collapse" id="service-Components">
                        <li><a class="ms-link" asp-area="Admin" asp-action="Index" asp-controller="ServiceCategory"><span>Quản lý danh mục</span></a></li>
                        <li><a class="ms-link" asp-area="Admin" asp-action="Index" asp-controller="Service"><span>Quản lý dịch vụ</span></a></li>
                    </ul>
                </li>


                <li class="collapsed">
                    <a class="m-link" data-bs-toggle="collapse" data-bs-target="#project-Components" href="#">
                        <i class="icofont-restaurant-menu"></i><span>Thực đơn</span> <span class="arrow icofont-dotted-down ms-auto text-end fs-5"></span>
                    </a>
                    <!-- Menu: Sub menu ul -->
                    <ul class="sub-menu collapse" id="project-Components">
                        <li><a class="ms-link" asp-area="Admin" asp-action="Index" asp-controller="MenuCategory"><span>Quản lý thể loại</span></a></li>
                        <li><a class="ms-link" asp-area="Admin" asp-action="Index" asp-controller="Menu"><span>Quản lý thực đơn</span></a></li>
                    </ul>
                </li>

                <li><a class="m-link" asp-area="Admin" asp-action="Index" asp-controller="Invoice"><i class="icofont-coins"></i> <span>Hóa đơn</span></a></li>
                <li><a class="m-link" asp-area="Admin" asp-action="Index" asp-controller="Statistic"><i class="icofont-chart-histogram"></i> <span>Thống kê</span></a></li>
                <li><a class="m-link" asp-area="Admin" asp-action="Index" asp-controller="Feedback"><i class="icofont-paper"></i> <span>Phản hồi</span></a></li>
                <li><a class="m-link" asp-area="Admin" asp-action="Index" asp-controller="ManageUser"><i class="icofont-users-alt-2"></i> <span>Người dùng</span></a></li>
                <li><a class="m-link" asp-area="Admin" asp-action="Index" asp-controller="ManageRole"><i class="icofont-shield-alt"></i> <span>Quyền người dùng</span></a></li>
                <li class="collapsed">
                    <a class="m-link" data-bs-toggle="collapse" data-bs-target="#combo-Components" href="#">
                        <i class="icofont-ui-note"></i><span>Combo</span> <span class="arrow icofont-dotted-down ms-auto text-end fs-5"></span>
                    </a>
                    <!-- Menu: Sub menu ul -->
                    <ul class="sub-menu collapse" id="combo-Components">
                        <li><a class="ms-link" asp-area="Admin" asp-action="Index" asp-controller="ComboMenuEntity"><span>Danh sách combo</span></a></li>
                        <li><a class="ms-link" asp-area="Admin" asp-action="Index" asp-controller="MenuItemComboMenu"><span>Quản lý combo</span></a></li>
                    </ul>
                </li>
                <li class="collapsed">
                    <a class="m-link" data-bs-toggle="collapse" data-bs-target="#code-Components" href="#">
                        <i class="icofont-bar-code"></i><span>Mã khuyến mãi</span> <span class="arrow icofont-dotted-down ms-auto text-end fs-5"></span>
                    </a>
                    <!-- Menu: Sub menu ul -->
                    <ul class="sub-menu collapse" id="code-Components">
                        <li><a class="ms-link" asp-area="Admin" asp-action="Index" asp-controller="Code"><span>Quản lý mã khuyến mãi</span></a></li>
                        <li><a class="ms-link" asp-area="Admin" asp-action="Index" asp-controller="InvoiceCode"><span>Danh sách hóa đơn dùng mã khuyến mãi</span></a></li>
                    </ul>

                </li>
            }
            @if (!User.Identity.IsAuthenticated)
            {
                <li><a class="m-link" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"><i class="icofont-login"></i> <span>Đăng nhập</span></a></li>
            }
            <li><a class="m-link" asp-area="" asp-action="Index" asp-controller="Home"><i class="icofont-ui-home"></i> <span>Về trang chủ</span></a></li>

        </ul>

        <!-- Theme: Switch Theme -->
        <ul class="list-unstyled mb-0">
            <li class="d-flex align-items-center justify-content-center">
                <div class="form-check form-switch theme-switch">
                    <input class="form-check-input" type="checkbox" id="theme-switch">
                    <label class="form-check-label" for="theme-switch">Chế độ tối</label>
                </div>
            </li>
        </ul>

        <!-- Menu: menu collepce btn -->
        <button type="button" class="btn btn-link sidebar-mini-btn text-light" style="outline:none">
            <span class="ms-2"><i class="icofont-bubble-right"></i></span>
        </button>
    </div>
</div>