@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Xác nhận email đăng kí tài khoản";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Hãy kiểm tra email để xác nhận đăng kí tài khoản
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

