@using CodeFirst.Models.Notifications
@model NotificationViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<h2>Send Notification</h2>

<form asp-controller="Notification" asp-action="SendNotification" method="post">
    <label for="Message">Message:</label>
    <textarea asp-for="Message" class="form-control"></textarea>

    <button type="submit" class="btn btn-primary">Send Notification</button>
</form>

