@model List<ApplicationUser>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>UserId: @ViewData["UserId"]</p>
</div>

@foreach (var user in Model)
{
    <ul>
        <li>@user.FirstName @user.LastName @user.UserName</li>
    </ul>
}