@using CodeFirst.Views.Shared
@{
    ViewData["Title"] = "Home Page";
    // Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    Layout = "~/_Layout.cshtml";
}



@* <div class="row shadow-sm p-3">
    <div class="col-md-6">
        @(await Html.RenderComponentAsync<Counter>(RenderMode.Server))
    </div>
</div>
 *@