@model CodeFirst.Models.Entities.MenuItemComboMenu

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>

<h4>MenuItemComboMenu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MenuId" class="control-label"></label>
                <select asp-for="MenuId" class ="form-control" asp-items="ViewBag.MenuId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ComboMenuId" class="control-label"></label>
                <select asp-for="ComboMenuId" class ="form-control" asp-items="ViewBag.ComboMenuId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
