@model CodeFirst.Models.Entities.MenuItemComboMenu

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>MenuItemComboMenu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MenuEntity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MenuEntity.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComboMenuEntity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComboMenuEntity.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MenuItemComboMenuId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
