@inherits LayoutComponentBase

<PageTitle>BlazorApp1</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div class="dropdown user-profile ml-2 ml-sm-3 d-flex align-items-center zindex-popover">
                <div class="u-info me-2">
                    <p class="mb-0 text-end line-height-sm "><span class="font-weight-bold">Dylan Hunter</span></p>
                    <small>Admin Profile</small>
                </div>
                <a class="nav-link dropdown-toggle pulse p-0 show" href="#" role="button" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="true">
                    <img class="avatar lg rounded-circle img-thumbnail" src="assets/images/profile_av.png" alt="profile">
                </a>
                <div class="dropdown-menu rounded-lg shadow border-0 dropdown-animation dropdown-menu-end p-0 m-0 show" data-bs-popper="none">
                    <div class="card border-0 w280">
                        <div class="card-body pb-0">
                            <div class="d-flex py-1">
                                <img class="avatar rounded-circle" src="assets/images/profile_av.png" alt="profile">
                                <div class="flex-fill ms-3">
                                    <p class="mb-0"><span class="font-weight-bold">Dylan Hunter</span></p>
                                    <small class="">Dylan.hunter@gmail.com</small>
                                </div>
                            </div>

                            <div><hr class="dropdown-divider border-dark"></div>
                        </div>
                        <div class="list-group m-2 ">
                            <a href="task.html" class="list-group-item list-group-item-action border-0 "><i class="icofont-tasks fs-5 me-3"></i>My Task</a>
                            <a href="members.html" class="list-group-item list-group-item-action border-0 "><i class="icofont-ui-user-group fs-6 me-3"></i>members</a>
                            <a href="ui-elements/auth-signin.html" class="list-group-item list-group-item-action border-0 "><i class="icofont-logout fs-6 me-3"></i>Signout</a>
                            <div><hr class="dropdown-divider border-dark"></div>
                            <a href="ui-elements/auth-signup.html" class="list-group-item list-group-item-action border-0 "><i class="icofont-contact-add fs-5 me-3"></i>Add personal account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
