@inherits LayoutComponentBase

<PageTitle>BlazorApp1</PageTitle>

    <div class="sidebar">
        <NavMenu />
    </div>

      

            @Body
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
<script src="~/js/tasktodo.js"></script>