
<nav class="flex-column" id="sidebar">
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <i class="fa-solid fa-house fs-6 me-3"></i> Home
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="counter">
            <i class="icofont-login fs-6 me-3"></i> Counter
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="color-picker">
            <i class="fa-solid fa-palette fs-6 me-3"></i> Color picker
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="branch-list">
            <i class="fa-regular fa-building fs-6 me-3"></i> Chi nhánh
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="user-list">
            <i class="fa-regular fa-address-card fs-6 me-3"></i> Người dùng
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="task">
            <i class="fa-regular fa-clipboard fs-6 me-3"></i> Công việc
        </NavLink>
    </div>
</nav>

