@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Quyền truy cập bị từ chối";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Người dùng không có quyền truy cập vào.</p>
</header>
