@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<p>
    Kiểm tra email của bạn và thực hiện xác nhận đặt lại mật khẩu
</p>
