@page
@model CodeFirst.Pages.errors._404Model
@{
    ViewData["title"] = "Page does not exists";
}
<div class="container" style="text-align: center;  color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">404</h1>
    <p style="font-size: 50px; ">Page not found</p>
    <p>The page you are looking for doesn't exists or another issue occurred.</p>
    <p>Please navigate back to zetbit.tech</p>
</div>