@using CodeFirst.Models.Notifications
@model NotificationViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<style>
    body {
        margin-top: 20px;
    }

    .chat-online {
        color: #34ce57
    }

    .chat-offline {
        color: #e4606d
    }

    .chat-messages-list {
        display: flex;
        flex-direction: column;
        height: 70vh;
        overflow-y: scroll
    }

   
    .chat-message-left,
    .chat-message-right {
        display: flex;
        flex-shrink: 0;
    }

    .chat-message-left {
        margin-right: auto;
    }

    .list-group-container {
        height: 86vh;
        overflow-y: auto;
        border-right: 1px solid #EEEEEE;
    }

    .status {
        width: 10px;
        height: 10px;
        outline:2px solid white;
        border-radius: 100px;
        border-radius: 100px;
        background: #e6ecf3;
        position: absolute;
        top: 2.3rem;
        left: 2.9rem;
    }

        .status.online {
            background: #34ce57;

        }

        .status.offline {
            background: #fd7274;
        }

    .chat-container {
        margin-bottom: 50px;
    }

    .list-group-item:hover {
        background-color: #E1DBDA;
    }

    .box-messages:hover {
        background-color: #BDBDBD !important;
    }

        .box-messages:hover .date-time {
        color:white !important 
    }
    .img-list-user{
    }
    </style>

<main class="content" >
    <div class="container p-0 " style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;">
        <div class="card chat-container">
            <div class="row g-0">
                <div class="col-12 col-lg-5 col-xl-3 list-group-container" style="border-right:1px solid #EEEEEE">

                    <div style="border-right: 1px solid #EEEEEE;" class="px-4 d-none d-md-block">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1">
                                <input type="text" class="form-control my-3" placeholder="Search...">
                            </div>
                        </div>
                    </div>
                    <div class="list-user-status" >
                        <div class="list-group-online">
                        </div>
                        <div class="list-group-offline">
                        </div>
                    </div>

                    <hr class="d-block d-lg-none mt-1 mb-0">
                </div>
                <div class="col-12 col-lg-7 col-xl-9" >
                    <div class="py-2 px-4 border-bottom d-none d-lg-block" style="background-color:#484C7F">
                        <div class="d-flex align-items-center py-1" >
                            <div class="position-relative ">
                                <img src="https://res.cloudinary.com/dl3hvap4a/image/upload/v1698337439/lmox3dywhsrbnsiv6vhq.jpg" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
                            </div>
                            <div class="flex-grow-1 pl-3">
                                <strong style="color: #ffffff;">anh long my den</strong>
                                <div class="text-muted small"><em>đang chat...</em></div>
                            </div>
                            <div class="more-options fa-lg">
                                <button style="margin-right:5px" class="btn-phone" title="Start a voice call">
                                    <i class="fa-solid fa-phone" style="color: #ffffff;"></i>
                                </button>
                                <button style="margin-right:5px"  class="btn-video ml-3" title="Start a video call">
                                    <i class="fa-solid fa-video" style="color: #ffffff;"></i>
                                </button>
                                <button style="margin-right:5px" class="btn-information ml-3">
                                    <i class="fa-solid fa-info" style="color: #ffffff;"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="position-relative">
                        <div class="chat-messages-list p-4">
                        </div>
                    </div>



                    <div class="flex-grow-0 py-3 px-4 border-top" >

                        <form id="chatForm" asp-controller="Chat" asp-action="SendMessages" method="post">
                            <div class="input-group">
                                <input asp-for="Message" style="padding:30px;box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;" type="text" class="form-control" placeholder="Type your message">
                                <button style="margin-left:5px;box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;" type="submit" class="btn btn-primary">Send</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>
<script>
    $(document).ready(function () {
        // Bắt sự kiện submit của form
        $(".chatForm").submit(function (e) {
            e.preventDefault(); // Ngăn chặn việc gửi form theo cách thông thường

            // Lấy dữ liệu từ form
            var formData = $(this).serialize();

            // Gửi yêu cầu AJAX
            $.ajax({
                url: $(this).attr('action'), // Lấy đường dẫn từ thuộc tính action của form
                type: $(this).attr('method'), // Lấy phương thức từ thuộc tính method của form
                data: formData, // Dữ liệu form đã được serialized
                success: function (response) {
                    // Xử lý kết quả nếu thành công
                    console.log("Message sent successfully!");
                    console.log(response);

                    // Xóa nội dung của input sau khi gửi thành công
                    $("#chatForm input[name='Message']").val('');

                    // Cuộn xuống cuối trang
                    scrollToBottomWhenSendMessage();
                },
                error: function (xhr, status, error) {
                    // Xử lý lỗi nếu có
                    console.error("AJAX Error:", error);
                }
            });
        });
    });
    function scrollToBottomWhenSendMessage() {
        setTimeout(() => {
            const chatMessagesList = document.querySelector('.chat-messages-list');
            if (chatMessagesList) {
                chatMessagesList.scrollTop = chatMessagesList.scrollHeight;
            }
        }, 1000);
    }

</script>