@page
@model EnableAuthenticatorModel
@{
    ViewData["Title"] = "Configure authenticator app";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>Thiết lập xác thực hai bước</h3>
<div>
    <p>Để sử dụng chức năng xác thực,hãy thực hiện các bước sau:</p>
    <ol class="list">
        <li>
            <p>
                Tải Microsoft Authenticator cho
                <a href="https://go.microsoft.com/fwlink/?Linkid=825072">Android</a> và
                <a href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS</a> hoặc
                Google Authenticator cho
                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Android</a> và
                <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS</a>.
            </p>
        </li>
        <li>
            <p>Hãy quét mã QR bên dưới hoặc nhập code <kbd>@Model.SharedKey</kbd> để thực hiện xác minh 2 bước.</p>
            <div id="qrCode"></div>
            <div id="qrCodeData" data-url="@Model.AuthenticatorUri"></div>
        </li>
        <li>
            <p style="margin-top:10px">
                Khi bạn đã quét mã QR hoặc nhập mã khóa ở trên, ứng dụng xác thực hai yếu tố của bạn sẽ cung cấp cho bạn một mã duy nhất. Nhập mã này vào ô xác nhận bên dưới.
            </p>
            <div class="row">
                <div class="col-md-6">
                    <form id="send-code" method="post">
                        <div class="form-floating">
                            <input asp-for="Input.Code" class="form-control" autocomplete="off" />
                            <label asp-for="Input.Code" class="control-label form-label">Verification Code</label>
                            <span asp-validation-for="Input.Code" class="text-danger"></span>
                        </div>
                        <button type="submit" class="w-100 btn btn-lg btn-primary">Xác thực</button>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </form>
                </div>
            </div>
        </li>
    </ol>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(() => {
            var qrcode = new QRCode(document.getElementById("qrCode"), {
                text: "@Html.Raw(Model.AuthenticatorUri)",
                width: 128,
                height: 128,
                colorDark: "#000000",
                colorLight: "#ffffff",
                correctLevel: QRCode.CorrectLevel.H
            });
        })
    </script>
}
