@import '_content/Blazor.Bootstrap/Blazor.Bootstrap.bundle.scp.css';

/* _content/CodeFirst/Areas/Admin/Views/Shared/_AdminLayout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-4s03l8b9om] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-4s03l8b9om] {
  color: #0077cc;
}

.btn-primary[b-4s03l8b9om] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-4s03l8b9om], .nav-pills .show > .nav-link[b-4s03l8b9om] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-4s03l8b9om] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-4s03l8b9om] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-4s03l8b9om] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-4s03l8b9om] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-4s03l8b9om] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CodeFirst/Components/Chat.razor.rz.scp.css */
body[b-mcqe6qptzc] {
    margin-top: 20px;
}

.chat-online[b-mcqe6qptzc] {
    color: #34ce57
}

.chat-offline[b-mcqe6qptzc] {
    color: #e4606d
}

.chat-messages-list[b-mcqe6qptzc] {
    display: flex;
    flex-direction: column;
    height: 70vh;
    overflow-y: scroll
}


.chat-message-left[b-mcqe6qptzc],
.chat-message-right[b-mcqe6qptzc] {
    display: flex;
    flex-shrink: 0;
}

.chat-message-left[b-mcqe6qptzc] {
    margin-right: auto;
}

.list-group[b-mcqe6qptzc] {
    height: 86vh;
    overflow-y: auto;
    border-right: 1px solid #EEEEEE;
}

.status[b-mcqe6qptzc] {
    width: 10px;
    height: 10px;
    outline: 2px solid white;
    border-radius: 100px;
    border-radius: 100px;
    background: #e6ecf3;
    position: absolute;
    top: 2.3rem;
    left: 2.9rem;
}

    .status.online[b-mcqe6qptzc] {
        background: #34ce57;
    }

    .status.offline[b-mcqe6qptzc] {
        background: #fd7274;
    }

.chat-container[b-mcqe6qptzc] {
    margin-bottom: 50px;
}

.list-group-item:hover[b-mcqe6qptzc] {
    background-color: #E1DBDA;
}

.box-messages:hover[b-mcqe6qptzc] {
    background-color: #BDBDBD !important;
}

    .box-messages:hover .date-time[b-mcqe6qptzc] {
        color: white !important
    }

.img-list-user[b-mcqe6qptzc] {
}

/* _content/CodeFirst/Components/Error404.razor.rz.scp.css */
/*Variables*/
/*:root {
    --background-color: #353b48;
    --font: "Fira Sans", sans-serif;
    --white: #f5f6fa;
    --black: #0C0E10;
    --gray: #202425;
    --blue: #446182;
}*/

/* Mixins */
/*@media (max-width: 770px) {
    .smallscreens {
        @content;
    }
}*/

/* Extends */
/*.Ycenter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}*/

/* Main Layout Styles */
/** {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font);
    color: var(--white);
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--black), var(--blue));
}

    .background .ground {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 25vh;
        background: var(--black);
    }

@media (max-width: 770px) {
    .background .ground {
        height: 0vh;
    }
}

.container {
    background-image: linear-gradient(to bottom, #0C0E10, #446182);
    position: relative;
    margin: 0 auto;
    width: 85%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width: 770px) {
    .container {
        flex-direction: column;
        padding-bottom: 0vh;
    }
}

.left-section,
.right-section {
    position: relative;
}*/

/* Left Section Styles */
/*.left-section {
    width: 40%;
}

@media (max-width: 770px) {
    .left-section {
        width: 100%;
        height: 40%;
        position: absolute;
        top: 0;
    }
}

.left-section .inner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 770px) {
    .left-section .inner-content {
        position: relative;
        padding: 1rem 0;
    }
}

.left-section .heading {
    text-align: center;
    font-size: 9em;
    line-height: 1.3em;
    margin: 2rem 0 0.5rem 0;
    padding: 0;
    text-shadow: 0 0 1rem #fefefe;
}

.left-section .subheading {
    text-align: center;
    max-width: 480px;
    font-size: 1.5em;
    line-height: 1.15em;
    padding: 0 1rem;
    margin: 0 auto;
}*/

/* Right Section Styles */
/*.right-section {
    width: 50%;
}

@media (max-width: 770px) {
    .right-section {
        width: 100%;
        height: 60%;
        position: absolute;
        bottom: 0;
    }
}

.svgimg {
    position: absolute;
    bottom: 0;
    padding-top: 10vh;
    padding-left: 1vh;
    max-width: 100%;
    max-height: 100%;
}

@media (max-width: 770px) {
    .svgimg {
        padding: 0;
    }
}

.svgimg .bench-legs {
    fill: var(--black);
}

.svgimg .top-bench,
.svgimg .bottom-bench {
    stroke: var(--black);
    stroke-width: 1px;
    fill: #5B3E2B;
}

    .svgimg .bottom-bench path:nth-child(1) {
        fill: darken(#5B3E2B, 7%);
    }

.svgimg .lamp-details {
    fill: var(--gray);
}

.svgimg .lamp-accent {
    fill: lighten(var(--gray), 5%);
}

.svgimg .lamp-bottom {
    fill: linear-gradient(var(--gray), var(--black));
}

.svgimg .lamp-light {
    fill: #EFEFEF;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 1rem #fefefe;
    }

    50% {
        text-shadow: 0 0 1.85rem #ededed;
    }

    100% {
        text-shadow: 0 0 1rem #fefefe;
    }
}*/
body[b-46wl8ed11m] {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.container[b-46wl8ed11m] {
    text-align: center;
    color: #888;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    .container h1[b-46wl8ed11m] {
        font-size: 150px;
        margin-bottom: 0px;
        color: #888;
        position: relative;
        animation: glow-b-46wl8ed11m 2s linear infinite alternate;
    }

    .container p[b-46wl8ed11m] {
        font-size: 24px;
        margin-top: 10px;
    }

@keyframes glow-b-46wl8ed11m {
    0% {
        text-shadow: 0 0 10px #888;
    }

    40% {
        text-shadow: 0 0 20px #888, 0 0 30px #888, 0 0 40px #00f, 0 0 7px #00f, 0 0 8px #00f, 0 0 10px #00f, 0 0 15px #00f;
    }
}
/* _content/CodeFirst/Components/PermissionComponent.razor.rz.scp.css */
@keyframes moveup-b-20aaenkchm {
    0% {
        bottom: -25px;
        opacity: 0;
    }

    100% {
        bottom: 0;
        opacity: 1;
    }
}

@keyframes movedown-b-20aaenkchm {
    0% {
        top: -25px;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

body[b-20aaenkchm]{
    background-color:red;
}
/* _content/CodeFirst/Views/Shared/MainLayout.razor.rz.scp.css */
/* _content/CodeFirst/Views/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-2k9yn0y450] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-2k9yn0y450] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-2k9yn0y450] {
    font-size: 1.1rem;
}

.oi[b-2k9yn0y450] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-2k9yn0y450] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-2k9yn0y450] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-2k9yn0y450] {
        padding-bottom: 1rem;
    }

    .nav-item[b-2k9yn0y450]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-2k9yn0y450]  a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item[b-2k9yn0y450]  a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

@media (min-width: 641px) {
    .navbar-toggler[b-2k9yn0y450] {
        display: none;
    }

    .collapse[b-2k9yn0y450] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* _content/CodeFirst/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-mduye2hf70] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-mduye2hf70] {
  color: #0077cc;
}

.btn-primary[b-mduye2hf70] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-mduye2hf70], .nav-pills .show > .nav-link[b-mduye2hf70] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-mduye2hf70] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-mduye2hf70] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-mduye2hf70] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-mduye2hf70] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-mduye2hf70] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
