/*Variables*/
/*:root {
    --background-color: #353b48;
    --font: "Fira Sans", sans-serif;
    --white: #f5f6fa;
    --black: #0C0E10;
    --gray: #202425;
    --blue: #446182;
}*/

/* Mixins */
/*@media (max-width: 770px) {
    .smallscreens {
        @content;
    }
}*/

/* Extends */
/*.Ycenter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}*/

/* Main Layout Styles */
/** {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font);
    color: var(--white);
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--black), var(--blue));
}

    .background .ground {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 25vh;
        background: var(--black);
    }

@media (max-width: 770px) {
    .background .ground {
        height: 0vh;
    }
}

.container {
    background-image: linear-gradient(to bottom, #0C0E10, #446182);
    position: relative;
    margin: 0 auto;
    width: 85%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width: 770px) {
    .container {
        flex-direction: column;
        padding-bottom: 0vh;
    }
}

.left-section,
.right-section {
    position: relative;
}*/

/* Left Section Styles */
/*.left-section {
    width: 40%;
}

@media (max-width: 770px) {
    .left-section {
        width: 100%;
        height: 40%;
        position: absolute;
        top: 0;
    }
}

.left-section .inner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 770px) {
    .left-section .inner-content {
        position: relative;
        padding: 1rem 0;
    }
}

.left-section .heading {
    text-align: center;
    font-size: 9em;
    line-height: 1.3em;
    margin: 2rem 0 0.5rem 0;
    padding: 0;
    text-shadow: 0 0 1rem #fefefe;
}

.left-section .subheading {
    text-align: center;
    max-width: 480px;
    font-size: 1.5em;
    line-height: 1.15em;
    padding: 0 1rem;
    margin: 0 auto;
}*/

/* Right Section Styles */
/*.right-section {
    width: 50%;
}

@media (max-width: 770px) {
    .right-section {
        width: 100%;
        height: 60%;
        position: absolute;
        bottom: 0;
    }
}

.svgimg {
    position: absolute;
    bottom: 0;
    padding-top: 10vh;
    padding-left: 1vh;
    max-width: 100%;
    max-height: 100%;
}

@media (max-width: 770px) {
    .svgimg {
        padding: 0;
    }
}

.svgimg .bench-legs {
    fill: var(--black);
}

.svgimg .top-bench,
.svgimg .bottom-bench {
    stroke: var(--black);
    stroke-width: 1px;
    fill: #5B3E2B;
}

    .svgimg .bottom-bench path:nth-child(1) {
        fill: darken(#5B3E2B, 7%);
    }

.svgimg .lamp-details {
    fill: var(--gray);
}

.svgimg .lamp-accent {
    fill: lighten(var(--gray), 5%);
}

.svgimg .lamp-bottom {
    fill: linear-gradient(var(--gray), var(--black));
}

.svgimg .lamp-light {
    fill: #EFEFEF;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 1rem #fefefe;
    }

    50% {
        text-shadow: 0 0 1.85rem #ededed;
    }

    100% {
        text-shadow: 0 0 1rem #fefefe;
    }
}*/
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.container {
    text-align: center;
    color: #888;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    .container h1 {
        font-size: 150px;
        margin-bottom: 0px;
        color: #888;
        position: relative;
        animation: glow 2s linear infinite alternate;
    }

    .container p {
        font-size: 24px;
        margin-top: 10px;
    }

@keyframes glow {
    0% {
        text-shadow: 0 0 10px #888;
    }

    40% {
        text-shadow: 0 0 20px #888, 0 0 30px #888, 0 0 40px #00f, 0 0 7px #00f, 0 0 8px #00f, 0 0 10px #00f, 0 0 15px #00f;
    }
}