@model CodeFirst.Models.Entities.TimeOfDay

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>

<h4>TimeOfDay</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HallId" class="control-label"></label>
                <select asp-for="HallId" class ="form-control" asp-items="ViewBag.HallId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Morning" class="control-label"></label>
                <input asp-for="Morning" class="form-control" />
                <span asp-validation-for="Morning" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Afternoon" class="control-label"></label>
                <input asp-for="Afternoon" class="form-control" />
                <span asp-validation-for="Afternoon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dinner" class="control-label"></label>
                <input asp-for="Dinner" class="form-control" />
                <span asp-validation-for="Dinner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

