@media only screen and (max-width: 600px) {
    .container {
        max-width: 95%;
    }

    .second {
        max-width: 95%;
    }
    .addtxt {
        max-width: 260px;
    }
}

body {
    background-color: red;
}

body {
    background-color: #fff;
}

.container {
    background-color: #eef2f5;
    width: 100%;
}
.container-comments {
    max-height: 300px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.addtxt {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 16px;
    width: 450px;
    background-color: white;
    font-weight: 500;
}

.second {
    margin-bottom: 10px;
    width: 450px;
    background-color: white;
    box-shadow: -0.3rem 0.2rem 0 rgba(29, 30, 28, 0.26);
    border: 1px solid #939393ff;
}

.text1 {
    font-size: 18px;
    font-weight: 500;
    color: #56575b;
}

.text2 {
    font-size: 13px;
    font-weight: 500;
    margin-left: 6px;
    color: #56575b;
}

.text3 {
    font-size: 13px;
    font-weight: 500;
    margin-right: 4px;
    color: #828386;
}

.text3o {
    color: #00a5f4;
}

.text4 {
    font-size: 13px;
    font-weight: 500;
    color: #828386;
}

.text4i {
    color: #00a5f4;
}

.text4o {
    color: white;
}

.thumbup {
    border-radius:5px;
    font-size: 13px;
    font-weight: 500;
    margin-right: 5px;
}

.thumbupo {
    color: #17a2b8;
}

.demo {
    padding: 10px;
}



*::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}
*{
    box-sizing:border-box;
}
.add-task-button {
    width: calc( 100% - 35px);
    margin: 10px;
    margin-left: 17px;
    margin-top: 0px !important;
    background-color: gray;
    color: white;
    padding: 8px;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
    border: 3px solid black;
}
    .add-task-button:active {
        width: calc( 100% - 20px);
        margin: 10px;
        margin-top: 0px !important;
        background-color: gray;
        color: white;
        padding: 10px;
        box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
    }
    .add-task-button:focus {
        background-color: gray;
        color: white;
    }
*::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 4px;
}

*::-webkit-scrollbar-track {
}
:root {
    --bg: #ebf0f7;
    --header: #fbf4f6;
    --text: #2e2e2f;
    --white: #ffffff;
    --light-grey: #c4cad3;
    --tag-1: #ceecfd;
    --tag-1-text: #2e87ba;
    --tag-2: #d6ede2;
    --tag-2-text: #13854e;
    --tag-3: #ceecfd;
    --tag-3-text: #2d86ba;
    --tag-4: #f2dcf5;
    --tag-4-text: #a734ba;
    --purple: #7784ee;
    --tag-24: #343434ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--text);
    font-family:'Mali';
}

.app {
    margin-bottom:2rem;
    width: 100%;
    min-height: 100vh;
}

h1 {
    font-size: 30px;
}

.project {
    max-width: 100%;
    width: 100%;
    display: inline-block;
}

.project-info {
    padding: 1rem 0 2rem 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.project-participants {
    display: flex;
    align-items: center;
}

    .project-participants span, .project-participants__add {
        width: 30px;
        height: 30px;
        display: inline-block;
        background: var(--purple);
        border-radius: 100rem;
        margin: 0 0.2rem;
    }

.project-participants__add {
    background: transparent;
    border: 1px dashed rgb(150, 150, 150);
    font-size: 0;
    cursor: pointer;
    position: relative;
}

    .project-participants__add:after {
        content: "+";
        font-size: 15px;
        color: rgb(150, 150, 150);
    }

.project-tasks {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    flex-wrap: nowrap;
}

.project-column-heading {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-column-heading__title {
    font-size: 20px;
}

.project-column-heading__options {
    background: transparent;
    color: var(--light-grey);
    font-size: 18px;
    border: 0;
    cursor: pointer;
    margin-right:33px;

}
.project-column {
    width: 100%;
    padding: 20px;
    padding-bottom:1px !important;
    margin-right: 20px;
}
.container-task-button {
    margin-right: 30px;
    margin-left: 10px;
    width: 300px;
    border: 1px solid #939393ff;
    box-shadow: 9px 4px 7px -5px rgba(0,0,0,0.47);
    -webkit-box-shadow: 9px 4px 7px -5px rgba(0,0,0,0.47);
    -moz-box-shadow: 9px 4px 7px -5px rgba(0,0,0,0.47);
    box-shadow: -0.3rem 0.4rem 0 rgba(29, 30, 28, 0.26);
    border: 3px solid black;
}
.task {
    margin-bottom: 15px;
    cursor: move;
    background-color: var(--white);
    padding: 1rem;
    width: 100%;
    box-shadow: -0.3rem 0.4rem 0 rgba(29, 30, 28, 0.26);
}
    .task:hover {
        outline: 2px solid #939393ff;
    }

    .task p {
        max-width: 300px;
        font-size: 15px;
        margin: 1.2rem 0;
    }

.task__tag {
    border-radius: 100px;
    padding: 2px 13px;
    font-size: 12px;
}

.task__tag--copyright {
    color: var(--tag-4-text);
    background-color: var(--tag-4);
}

.task__tag--design {
    color: var(--tag-3-text);
    background-color: var(--tag-3);
}
.task__tag--not-ready {
    color: #f1f1f3ff;
    background-color: #a19ec1ff;
}

.task__tag--illustration {
    color: var(--tag-2-text);
    background-color: var(--tag-2);
}

.task__tags {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task__options {
    background: transparent;
    border: 0;
    color: var(--light-grey);
    font-size: 17px;
}

.task__stats {
    position: relative;
    width: 100%;
    color: var(--light-grey);
    font-size: 12px;
}

    .task__stats span:not(:last-of-type) {
        margin-right: 1rem;
    }

    .task__stats svg {
        margin-right: 5px;
    }

.task__owner {
    width: 25px;
    height: 25px;
    border-radius: 100rem;
    background: var(--purple);
    position: absolute;
    display: inline-block;
    right: 0;
    bottom: 0;
}

.task-hover {
    border: 3px dashed var(--light-grey) !important;
}

.task-details {
    width: 24%;
    border-left: 1px solid #d9e0e9;
    display: inline-block;
    height: 100%;
    vertical-align: top;
    padding: 3rem 2rem;
}

.tag-progress {
    margin: 1.5rem 0;
}

    .tag-progress h2 {
        font-size: 16px;
        margin-bottom: 1rem;
    }

    .tag-progress p {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

        .tag-progress p span {
            color: rgb(180, 180, 180);
        }

    .tag-progress .progress {
        width: 100%;
        -webkit-appearance: none;
        appearance: none;
        border: none;
        border-radius: 10px;
        height: 10px;
    }

        .tag-progress .progress::-webkit-progress-bar, .tag-progress .progress::-webkit-progress-value {
            border-radius: 10px;
        }

    .tag-progress .progress--copyright::-webkit-progress-bar {
        background-color: #ecd8e6;
    }

    .tag-progress .progress--copyright::-webkit-progress-value {
        background: #d459e8;
    }

    .tag-progress .progress--illustration::-webkit-progress-bar {
        background-color: #dee7e3;
    }

    .tag-progress .progress--illustration::-webkit-progress-value {
        background-color: #46bd84;
    }

    .tag-progress .progress--design::-webkit-progress-bar {
        background-color: #d8e7f4;
    }

    .tag-progress .progress--design::-webkit-progress-value {
        background-color: #08a0f7;
    }

.task-activity h2 {
    font-size: 16px;
    margin-bottom: 1rem;
}

.task-activity li {
    list-style: none;
    margin: 1rem 0;
    padding: 0rem 1rem 1rem 3rem;
    position: relative;
}

.task-activity time {
    display: block;
    color: var(--light-grey);
}

.task-icon {
    width: 30px;
    height: 30px;
    border-radius: 100rem;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .task-icon svg {
        font-size: 12px;
        color: var(--white);
    }

.task-icon--attachment {
    background-color: #fba63c;
}

.task-icon--comment {
    background-color: #5dc983;
}

.task-icon--edit {
    background-color: #7784ee;
}

@media only screen and (max-width: 1300px) {
    .project {
        max-width: 100%;
    }

    .task-details {
        width: 100%;
        display: flex;
    }

    .tag-progress,
    .task-activity {
        flex-basis: 50%;
        background: var(--white);
        padding: 1rem;
        border-radius: 8px;
        margin: 1rem;
    }
}

.container-flex-col {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-bottom:2rem;
}

@media only screen and (max-width: 1000px) {
    .project-tasks {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 600px) {

    .project-tasks {
        grid-template-columns: 1fr;
    }

    .task-details {
        flex-wrap: wrap;
        padding: 3rem 1rem;
    }

    .tag-progress,
    .task-activity {
        flex-basis: 100%;
    }

    h1 {
        font-size: 25px;
    }
}

