@model DataEmptyCore.Models.Entities.User

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1>Đăng ký người dùng</h1>
</div>

<div class="custom-form-container">
    <form asp-action="upload" method="post" enctype="multipart/form-data" class="d-flex flex-column align-items-center">
        <div class="form-group">
            <label for="username">Tên đăng nhập</label>
            <input asp-for="@Model.Name" type="text" id="username" name="username" class="form-control custom-input" required />
        </div>
        <div class="form-group">
            <label for="password">Mật khẩu</label>
            <input type="password" id="password" name="password" class="form-control custom-input" required />
        </div>
        <div class="form-group">
            <label for="imageFile">Chọn hình đại diện</label>
            <input type="file" id="imageFile" name="imageFile" class="form-control custom-input" required />
        </div>
        <div class="form-group">
            <input type="submit" value="Đăng ký" class="btn btn-primary custom-button" />
        </div>
        @if (TempData["SuccessMessage"] != null)
        {
            <script>
                Swal.fire({
                    toast: true,
                    position: 'top-end',
                    icon: 'success',
                    title: 'Đăng kí tài khoản thành công!',
                    timer: 5000,
                    showConfirmButton: false,
                    showCloseButton: true,
                    customClass: {
                        container: 'my-custom-toast-class'
                    }
                });
            </script>
        }
    </form>
</div>
