@model IEnumerable<CodeFirst.Models.Entities.InvoiceCode>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Quản lý các hóa đơn có dùng mã giảm giá</h1>

<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Invoice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Invoice.InvoiceID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code.CodeId)
            </td>
            <td>
            </td>
        </tr>
}
    </tbody>
</table>
